@using ADOProject.Models
@model ADOProject.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Model.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>
    
    @if (Session["User"] != null && ((User) Session["User"]).Id == Model.UserId)
    {
        
        <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
        @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
